{% extends "base.html" %}


{% block content %}

  <div class="row">
    <div class="span3">
      <ul class="nav nav-list">
        <li class="nav-header">Account</li>
        <li class="{{ active.account_details|yesno:"active," }}">
          <a href="{% url "account" %}">Account details</a>
        </li>
        <li class="{{ active.auth_password_change|yesno:"active," }}">
          <a href="{% url "auth_password_change" %}">Change password</a>
        </li>
        <li class="{{ active.secret_key|yesno:"active," }}">
          <a href="{% url "secret_key" %}">Secret key</a>
        </li>
        {% url "import_named_set" as import_named_set_url %}
        {% if import_named_set_url %}
          <li class="{{ active.import_named_set|yesno:"active," }}">
            <a href="{{ import_named_set_url }}">Import comic set</a>
          </li>
        {% endif %}
        <li class="{{ active.invite|yesno:"active," }}">
          <a href="{% url "invitation_invite" %}">Invite a friend</a>
        </li>
        <li class="divider"></li>
        <li><a href="{% url "auth_logout" %}">Logout</a>
      </ul>
    </div>
    <div class="span9">
      {% block account_content %}{% endblock %}
    </div>
  </div>

{% endblock %}
