{% extends "base.html" %}

{% block title %}
  Account
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Account details</h1>
  </div>

  <form class="form form-horizontal">

    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ user.email }}</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Last login</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ user.last_login|date }}</p>
      </div>
      <div class="col-sm-7">
        <a href="{% url "logout" %}" class="btn btn-danger btn-xs">
          Logout now</a>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Date joined</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{ user.date_joined|date }}</p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Subscribed comics</label>
      <div class="col-sm-10">
        <p class="form-control-static">
          {{ user.comics_profile.comics.count }} / {{ all_comics.count }}
        </p>
      </div>
    </div>

  </form>

{% endblock %}
