{% extends "accounts/base.html" %}
{% load url from future %}

{% block title %}
  Secret key
{% endblock %}

{% block account_content %}

  <div class="page-header">
    <h1>Secret key <small>for feed and API access</small></h1>
  </div>

  <p>
    The secret key is used for feed and API access. The secret key should be
    kept private, just like your password.
    Generating a new secret key will make your old key invalid. You will need
    to update feed readers, etc., with your new secret key.
  </p>

  <form action="." method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="control-group">
      <label class="control-label">Your secret key</label>
      <div class="controls">
        <input type="text" value="{{ user.comics_profile.secret_key }}" disabled
          class="span3">
      </div>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-danger">
        <i class="icon-exclamation-sign icon-white"></i>
        Generate new secret key
      </button>
    </div>
  </form>

{% endblock %}
