{% extends "core/base.html" %}

{% block title %}
  Account settings
{% endblock %}

{% block content %}

  <h1>Account settings</h1>

  <div class="row">
    <div class="span6">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
          </tr>

          <tr>
            <th>Password</th>
            <td><a href="{% url auth_password_change %}">Change password</a></td>
          </tr>

          <tr>
            <th>Secret key</th>
            <td>{{ user.get_profile.secret_key }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}
