{% extends "core/base.html" %}
{% load url from future %}

{% block title %}
  Account
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Account <small>Manage your account</small></h1>
  </div>

  <div class="row">
    <div class="span5">

      <h3>Account details</h3>

      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
          </tr>

          <tr>
            <th>Password</th>
            <td><a href="{% url "auth_password_change" %}">Change password</a></td>
          </tr>

          <tr>
            <th>Secret key</th>
            <td>
              {{ user.get_profile.secret_key }}
              <a href="{% url "new_secret_key" %}">Generate new key</a></td>
            </td>
          </tr>
        </tbody>
      </table>

      <p>
        <a href="{% url "auth_logout" %}" class="btn btn-primary">
          <i class="icon-off icon-white"></i> Logout</a>
      </p>

    </div>
    <div class="span4">

      <h3>Import an old comic set</h3>

      <p>This adds all comics from the given "comic set" to your comic
      selection. No comics are removed from your selection.</p>

      <form action="{% url 'namedset-import' %}" method="post" class="form-inline">
        {% csrf_token %}
        <input type="text" name="namedset" placeholder="Set name">
        &nbsp;
        <button type="submit" class="btn btn-primary">Import</button>
      </form>

    </div>
  </div>

{% endblock content %}
