{% extends "base.html" %}

{% block title %}
  Account
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Account details</h1>
  </div>

  <dl class="row">
    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">{{ user.email }}</dd>

    <dt class="col-sm-3">Last login</dt>
    <dd class="col-sm-9">
      {{ user.last_login|date }}
      <a href="{% url "account_logout" %}" class="btn btn-danger btn-sm ms-3">
        Logout now</a>
    </dd>

    <dt class="col-sm-3">Date joined</dt>
    <dd class="col-sm-9">{{ user.date_joined|date }}</dd>

    <dt class="col-sm-3">Subscribed comics</dt>
    <dd class="col-sm-9">{{ user.comics_profile.comics.count }}</dd>
  </dl>

{% endblock %}
