{% extends "base.html" %}

{% block title %}
  Account
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Account details</h1>
  </div>

  <form>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-plaintext">{{ user.email }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Last login</label>
      <div class="col-sm-3">
        <p class="form-control-plaintext">{{ user.last_login|date }}</p>
      </div>
      <div class="col-sm-7">
        <a href="{% url "account_logout" %}" class="btn btn-danger btn-sm">
          Logout now</a>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Date joined</label>
      <div class="col-sm-10">
        <p class="form-control-plaintext">{{ user.date_joined|date }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Subscribed comics</label>
      <div class="col-sm-10">
        <p class="form-control-plaintext">
          {{ user.comics_profile.comics.count }}
        </p>
      </div>
    </div>

  </form>

{% endblock %}
