{% extends "base.html" %}

{% block title %}
  Invite
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Invite</h1>
  </div>

  <p>
    If you enjoy <em>comics</em> and want to share it with a friend,
    you can invite them here. Enter their email address and they'll receive
    an email with a link that will let them register their own account.
  </p>

  <form action="." method="post" class="form form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
          <i class="fa-solid fa-heart"></i>
          Send invitation
        </button>
      </div>
    </div>
  </form>

  <h2>Sent invitations</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Email</th>
        <th>Invite sent</th>
        <th>Invite accepted</th>
      </tr>
    </thead>
    <tbody>
      {% for invitation in invitations %}
        <tr>
          <td>{{ invitation.email }}</td>
          <td>{{ invitation.created|date:"Y-m-d H:i e" }}</td>
          <td><i class="fa-solid fa-{{ invitation.accepted|yesno:"check,times" }}"></i></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="0"><em>No existing invitations found</em></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
