*.log
*.log.*
*.pyc
*.sqlite3
*.swp
comics/settings/local.py
debug_toolbar
django
media/admin
media/8bittheater
media/amazingsuperpowers
media/applegeeks
media/applegeekslite
media/asofterworld
media/basicinstructions
media/bgobt
media/bizarro
media/boasas
media/brinkerhoff
media/bunny
media/butternutsquash
media/calvinandhobbes
media/countyoursheep
media/ctrlaltdel
media/ctrlaltdelsillies
media/cyanideandhappiness
media/darklegacy
media/darthsanddroids
media/dieselsweetiesprint
media/dieselsweetiesweb
media/dilbert
media/dilbertbt
media/dilbertvg
media/duelinganalogs
media/eon
media/extralife
media/fanboys
media/focusshift
media/foxtrot
media/garfield
media/garfieldminusgarfield
media/getfuzzy
media/gpf
media/gucomics
media/joyoftech
media/lagunen
media/leasticoulddo
media/libertymeadows
media/littlegamers
media/lookingforgroup
media/m
media/megatokyo
media/nemi
media/nemibt
media/oots
media/partiallyclips
media/pcweenies
media/peanuts
media/pearlsbeforeswine
media/pennyarcade
media/perrybiblefellowship
media/phd
media/picturesforsadchildren
media/playervsplayer
media/pondus
media/pondusbt
media/questionablecontent
media/reallife
media/rocky
media/rockybt
media/roseisrose
media/rutetid
media/sinfest
media/smbc
media/somethingpositive
media/threepanelsoul
media/userfriendly
media/uvod
media/veslemoy
media/vgcats
media/wapsisquare
media/whattheduck
media/whiteninja
media/wulffmorgenthaler
media/wulffmorgenthalerap
media/xkcd
media/zits
media/zofiesverden
