Anders Birkenes <datagutten@datagutten.net>
Jim Frode Hoff <jimfrodehoff@gmail.com>
Jim Frode Hoff <jimfrodehoff@gmail.com> <jimtrim@jim-Think.(none)>
Kristian Klette <klette@klette.us> <klette@samfundet.no>
Kristian Klette <klette@klette.us> <kristian.klette@iterate.no>
Morten Minde Neergaard <xim-git@akuma.no>
Nina Margrethe Smørsgård <nina.m.smorsgard@gmail.com> <nina.m.smosgard@c2i.net>
Nina Margrethe Smørsgård <nina.m.smorsgard@gmail.com> <pinkster@skigymnas.dyndns.biz>
