[tool.poetry]
name = "comics"
version = "4.2.0"
description = ""
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "AGPL-3.0-only"

[tool.poetry.dependencies]
Django = "^3.2"
Pillow = "^9.2.0"
PyYAML = { version = "^6.0", optional = true }
biplist = { version = "^1.0.3", optional = true }
cssmin = "^0.2.0"
cssselect = "^1.1.0"
defusedxml = "^0.7.1"
django-allauth = "^0.51.0"
django-bootstrap-form = "^3.4"
django-compressor = "^3.1"
django-environ = "^0.9.0"
django-invitations = "^1.9.3"
django-tastypie = "^0.14.4"
feedparser = "^6.0.10"
gunicorn = { version = "^20.1.0", optional = true }
httpx = "^0.23.0"
jsmin = "^3.0.1"
lxml = "^4.9.1"
psycopg2-binary = { version = "^2.9.3", optional = true }
pymemcache = { version = "^3.5.2", optional = true }
python = "^3.7"
pytz = "^2022.2"
sentry-sdk = "^1.9.8"

[tool.poetry.dev-dependencies]
black = "^22.8"
django-debug-toolbar = "^3.6"
django-extensions = "^3.2.0"
django-stubs = "^1.12.0"
flake8 = "^5.0.4"
flake8-black = "^0.3.3"
flake8-bugbear = "^22.9.11"
flake8-isort = "^4.2.0"
isort = "^5.10.1"
mypy = "^0.971"
pep8-naming = "^0.13.2"
pytest = "^7.1.3"
pytest-cov = "^3.0.0"
pytest-django = "^4.5.2"
pytest-mock = "^3.8.2"
tox = "^3.25.1"
types-pytz = "^2023.2.0"
types-toml = "^0.10.8"

[tool.poetry.extras]
api = ["biplist", "PyYAML"]
cache = ["pymemcache"]
pgsql = ["psycopg2-binary"]
server = ["gunicorn"]

[tool.black]
target-version = ["py37"]

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::django.utils.deprecation.RemovedInDjango40Warning:invitations",
    "ignore::django.utils.deprecation.RemovedInDjango40Warning:tastypie",
    "ignore::django.utils.deprecation.RemovedInDjango41Warning",
]
DJANGO_SETTINGS_MODULE = "comics.settings"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
