Django==1.11.4

# For loading settings from env
python-dotenv

# For converting database URLs to Django format
dj-database-url

# For timezone travel
pytz

# For image handling
Pillow >= 1.7, < 5

# For crawling comics and the REST API
lxml >= 3, < 4

# For crawling comics
feedparser >= 4.0, < 6
cssselect >= 0.8, < 2

# For static resource compression
django_compressor >= 1.1, < 2.0  # For Django 1.7 compat
cssmin >= 0.1, < 0.3
jsmin >= 2.0, < 2.3

# For user registration with email verification
django-registration >= 0.8, < 0.9

# For user invitation
-e ./django-invitation

# For Twitter Bootstrap compatible Django forms
django-bootstrap-form >= 3.1, < 3.3

# For REST API
django-tastypie >= 0.12, < 0.14
defusedxml >= 0.4, < 0.6
