Django == 3.0.5

# For loading settings from env
python-dotenv == 0.13.0

# For converting database URLs to Django format
dj-database-url == 0.5.0

# For timezone travel
pytz == 2019.3

# For image handling
Pillow == 6.2.2

# For crawling comics and the REST API
lxml == 4.5.0

# For crawling comics
feedparser == 5.2.1
cssselect == 1.1.0

# For static resource compression
django_appconf == 1.0.3  # django_compressor dep, which dropped Python 2.7 in 1.0.4
django_compressor == 2.4
cssmin == 0.2.0
jsmin == 2.2.2

# For Twitter Bootstrap compatible Django forms
django-bootstrap-form == 3.4

# For user invitation, registration and authentication
django-allauth == 0.40.0  # Dropped Python 2.7 in 0.41
django-invitations == 1.9.3

# For REST API
django-tastypie == 0.14.3
defusedxml == 0.6.0
