# Documentation
-rrequirements-docs.txt

# Code linting
-rrequirements-flake8.txt

# Tests
-rrequirements-tests.txt

# Task runner
tox

# Debugging of database queries, etc.
django-debug-toolbar

# Generation of the model graph used in the docs
django-extensions
