# Documentation
-rrequirements-docs.txt

# Code linting
-rrequirements-flake8.txt

# Test runner
tox

# Automate tasks
invoke

# Mocking in unit tests
mock

# Debugging of database queries, etc.
django-debug-toolbar < 1.5  # For Django 1.7 compat

# Generation of the model graph used in the docs
django-extensions
