body {
    padding-top: 60px;
}

.nav a.disabled,
.nav a.disabled:hover {
    color: #666;
}

h3 a:hover {
    text-decoration: none;
}

#cloud h3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    margin-top: 40px;
}
#cloud a {
    color: #404040;
}
#cloud .inactive a {
    color: #c0c0c0;
}

#feedback textarea {
    width: 40em;
}

#status td,
#status_legend td {
    text-align: center;
}
#status .scheduled,
#status_legend .scheduled {
    background: #fcc;
}
#status .fetched,
#status_legend .fetched {
    background: #fff7cc;
}
#status .fetched.scheduled,
#status_legend .fetched.scheduled {
    background: #efc;
}
#status_legend {
    width: auto;
}
