{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block content %}

  <h1>Login</h1>

  <form method="post" action="{% url auth_login %}" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    {{ form }}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Login</button>
      &nbsp;
      <a href="{% url auth_password_reset %}" class="btn">Reset password</a>
    </div>
  </form>

{% endblock %}
