{% extends "accounts/base.html" %}
{% load url from future %}
{% load bootstrap %}

{% block title %}
  Change password
{% endblock %}

{% block account_content %}

  <div class="page-header">
    <h1>Change password</h1>
  </div>

  <form method="post" action="{% url "auth_password_change" %}" class="form-horizontal">
    {% csrf_token %}

    {{ form|bootstrap }}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">
        <i class="icon-pencil icon-white"></i>
        Change password
      </button>
    </p>
  </form>

{% endblock %}
