{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
  Reset password
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Reset password</h1>
  </div>

  {% if validlink %}
    <form method="post" action="" class="form-horizontal">
      {% csrf_token %}

      {{ form|bootstrap_horizontal }}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Reset password</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="alert alert-danger">
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </div>
  {% endif %}

{% endblock %}
