{% extends "core/base.html" %}


{% block title %}
  Edit set "{{ set.name }}"
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Edit comic set &ldquo;{{ set.name }}&rdquo;</h1>
  </div>

  {% if not all_comics %}
    <div class="alert alert-error">
      <p><strong>No comics found.</strong></p>
    </div>
  {% endif %}

  <form action="{% url namedset-edit set.name %}" method="post" id="edit_set">
    {% csrf_token %}

    {{ form }}

    <div class="actions">
      <button type="submit" class="btn btn-primary">
        <i class="icon-ok icon-white"></i>
        Save changes
      </button>
      &nbsp;
      <a href="{{ set.get_absolute_url }}" class="btn">
        Cancel
      </a>
    </div>
  </form>

{% endblock %}
