{% extends "accounts/base.html" %}

{% block title %}Import comic set{% endblock %}

{% block account_content %}

  <div class="page-header">
    <h1>Import comic set</h1>
  </div>

  <p>
    Comic sets was deprecated with the change from an open site to user
    accounts. If you used to use a comic set, you can use this page to import
    the comics in your old set into your new user account. Comics are only
    added. No comics will be removed from your account.
  </p>

  <form action="" method="post" class="form-horizontal">
    {% csrf_token %}

    <div class="form-group">
      <label class="control-label col-sm-2">Set name</label>
      <div class="col-sm-10">
        <input type="text" name="namedset">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
          <i class="icon-download icon-white"></i>
          Import comic set
        </button>
      </div>
    </div>
  </form>

{% endblock %}
