{% extends "core/base.html" %}
{% load bootstrap %}


{% block title %}
  Comic sets
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Sets <small>of your favorite comics</small></h1>
  </div>

  <div class="row">
    <div class="span6">

      <h4>A comics set is...</h4>

      <p>A comic set is a personal selection of comics. Anyone can create a new set,
      and anyone can modify any existing set, just like a wiki.</p>

      <h4>Getting started</h4>

      <p>To get started with your own personal comic set, enter a name for
      it, e.g. your username or nickname. To get to your comic set later,
      enter the name again, or go directly to the URL of your comic set.</p>

    </div>
    <div class="span6">

      <h4>Use a comic set</h4>

      <form action="{% url namedset-new %}" method="post" id="new_set" class="form-horizontal">
        {% csrf_token %}

        {{ form|bootstrap }}

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="icon-play-circle icon-white"></i>
            Go to set
          </button>
        </div>
      </form>

      <h4>Recently used sets</h4>

      <ul>
        {% for set in recent_sets %}
          <li>
            <a href="{{ set.get_absolute_url }}">{{ set.name }}</a>
          </li>
        {% empty %}
          <li>None</li>
        {% endfor %}
      </ul>

    </div>
  </div>

{% endblock %}
