{% extends "base.html" %}
{% load cache %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style/default.css" />
{% endblock %}

{% block extra_footer %}
{{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/navigation.js"></script>
    {% if google_analytics_code %}
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("{{ google_analytics_code }}");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    {% endif %}
{% endblock %}

{% block body %}

<div id="hd">
    <div class="content">
        <div id="title">

<h1><a href="{% url top-latest %}">{{ site_title }}</a></h1>
<p><a href="{% url top-latest %}">{{ site_tagline }}</a></p>

        </div>
        <div id="sitemenu">
{% block menu %}
{% url search as search_url %}
<ul>
    <li><a href="{% url top-latest %}">Home</a></li>
    {% if search_url %}
        <li><a href="{{ search_url }}">Search</a></li>
    {% endif %}
    <li><a href="{% url set-new %}">Sets</a></li>
    <li><a href="{% url feedback %}">Feedback</a></li>
    <li><a href="{% url about %}">About</a></li>
</ul>
{% endblock %}
        </div>
    </div>
</div>

<div id="bd">
    <div class="content">
<!--[if lte IE 6]>
<style type="text/css">
#ie6msg { border: 5px solid #c8de9d; margin: 1em 0 2em; padding: 1em; background: #efc; color: black; }
#ie6msg h3, p { margin: 0 0 0.5em 0; }
</style>
<div id="ie6msg">
<h3>Did you know that your browser is out of date?</h3>
<p>To get the best possible experience using our website we recommend that you upgrade your browser to a newer version. The current version is <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer 8</a>. The upgrade is free. If you're using a PC at work you should contact your IT administrator.</p>
<p>If you want to you may also try some other popular Internet browsers like <a href="http://www.opera.com/">Opera</a>, <a href="http://www.mozilla.com/">Firefox</a>, <a href="http://www.apple.com/safari/download/">Safari</a>, or <a href="http://www.google.com/chrome">Chrome</a>.</p>
</div>
<![endif]-->
{% block content %}{% endblock %}
    </div>
</div>

{% cache 500 all_comics %}
{% if all_comics %}
<div id="cloud">
    <div class="content">
{% block cloud %}
    <h2><a href="{% url comic-list %}">All comics</a></h2>
    <ul>
    {% for comic in all_comics %}
        <li><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock cloud %}
    </div>
</div>
{% endif %}
{% endcache %}

<div id="ft">
    <div class="content">
{% block footer %}
{% endblock %}
    </div>
</div>

{% endblock %}
