{% extends "base.html" %}
{% load cache compress %}

{% block extra_footer %}
{{ block.super }}
{% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/navigation.js"></script>
    {% if google_analytics_code %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
{% endcompress %}
{% endblock %}

{% block body %}

<div id="hd">
    <div class="content">
        <div id="title">

<h1><a href="{% url top-latest %}">{{ site_title }}</a></h1>
<p><a href="{% url top-latest %}">{{ site_tagline }}</a></p>

        </div>
        <div id="sitemenu" class="buttons">
{% block menu %}
{% url search as search_url %}
<ul>
    <li><a href="{% url top-latest %}">Home</a></li>
    {% if search_url %}
        <li><a href="{{ search_url }}">Search</a></li>
    {% endif %}
    <li><a href="{% url set-new %}">Sets</a></li>
    <li><a href="{% url feedback %}">Feedback</a></li>
    <li><a href="{% url about %}">About</a></li>
</ul>
{% endblock %}
        </div>
    </div>
</div>

<div id="bd">
    <div class="content">
{% block content %}{% endblock %}
    </div>
</div>

{% cache 500 all_comics %}
{% if all_comics %}
<div id="cloud">
    <div class="content">
{% block cloud %}
    <h2><a href="{% url comic-list %}">All comics</a></h2>
    <ul>
    {% for comic in all_comics %}
        <li><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></li>
    {% endfor %}
    </ul>
{% endblock cloud %}
    </div>
</div>
{% endif %}
{% endcache %}

{% endblock %}
