{% extends "core/base.html" %}


{% block title %}List of comics{% endblock %}


{% block content %}

<h2>List of comics</h2>

{% if all_comics %}
<table>
    <tr>
        <th>Comic</th>
        <th>Language</th>
        <th class="alignright"># releases</th>
        <th class="alignright"># sets</th>
        <th>Website</th>
        <th>Last fetched</th>
    </tr>
    {% for comic in all_comics %}
    <tr>
        <td>
            <a href="{{ comic.get_feed_url }}"><img src="{{ MEDIA_URL }}icons/feed.png" width="16" height="16" alt="Comic feed: {{ comic.name }}" title="Comic feed: {{ comic.name }}" /></a>
            <a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a>
        </td>
        <td>{{ comic.get_language_display }}</td>
        <td class="alignright">{{ comic.release__count }}
            release{{ comic.release__count|pluralize }}</td>
        <td class="alignright">{{ comic.number_of_sets }}
            set{{ comic.number_of_sets|pluralize }}</td>
        <td><a href="{{ comic.get_redirect_url }}">{{ comic.url }}</a></td>
        <td>
            {% if comic.release__fetched__max %}
                {{ comic.release__fetched__max|timesince }} ago
            {% else %}
                Never
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No comics found.</p>
{% endif %}

{% endblock %}
