{% extends "core/base.html" %}
{% load cache humanize %}
{% load url from future %}


{% block title %}
  {{ page.title|safe }}
{% endblock %}


{% block extra_head %}
  {{ block.super }}
  {% ifequal page.view_type 'comic' %}
    {% if comics.0.0 %}
      <link rel="alternate" type="application/atom+xml"
        href="{{ comics.0.0.get_feed_url }}"
        title="Comic feed: {{ comics.0.0.name }}">
    {% endif %}
  {% endifequal %}
  {% if page.first_url %}
    <link rel="start" href="{{ page.first_url }}">
    <link rel="first" href="{{ page.first_url }}">
  {% endif %}
  {% if page.prev_url %}
    <link rel="prev" href="{{ page.prev_url }}">
  {% endif %}
  {% if page.next_url %}
    <link rel="next" href="{{ page.next_url }}">
  {% endif %}
  {% if page.last_url %}
    <link rel="last" href="{{ page.last_url }}">
  {% endif %}
{% endblock %}


{% block top_menu %}
  {% include "core/release-menu.html" %}
{% endblock %}


{% block content %}

  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        {% for time_frame in page.time_frames %}
          {% if time_frame.url %}
            <a href="{{ time_frame.url }}" class="btn">
          {% else %}
            <a href="#" class="btn disabled">
          {% endif %}
            {{ time_frame.title }}
          </a>
        {% endfor %}
      </div>

      <div class="btn-group">
        {% ifequal page.view_type 'comic' %}
          {% if comics.0.0 %}
            <a href="{{ comics.0.0.get_feed_url }}?key={{ user.get_profile.secret_key }}"
              title="Comic feed for {{ comics.0.0.name }}" class="btn">
              <i class="icon-fire"></i>
              Feed</a>
          {% endif %}
        {% endifequal %}

        {% ifequal page.view_type 'userset' %}
          <a href="{{ user_set.get_feed_url }}?key={{ user.get_profile.secret_key }}"
            title="Comic feed for {{ user.email }}" class="btn">
            <i class="icon-fire"></i>
            Feed</a>
        {% endifequal %}
      </div>
    </div>

    <h1>{{ page.title|safe }}</h1>
  </div>

  <div id="releases">
    {% for comic, releases in comics %}
      {% for release in releases %}

        <div class="release well">
          <form action="{% url "toggle_comic" %}" method="post"
            class="pull-right userset-toggle">
            {% csrf_token %}
            <input type="hidden" name="comic" value="{{ comic.slug }}">
            <button type="submit" name="remove_comic"
              class="btn btn-danger btn-small userset-remove-comic
                {% if comic not in user_set_comics %}hidden{% endif %}">
              <span class="action">
                <i class="icon-minus-sign icon-white"></i>
                Remove from my comics
              </span>
              <span class="confirmation">
                <i class="icon-warning-sign icon-white"></i>
                Click again to really remove this comic
              </span>
              <span class="success">
                <i class="icon-ok icon-white"></i>
                Removed
              </span>
            </button>
            <button type="submit" name="add_comic"
              class="btn btn-success btn-small userset-add-comic
                {% if comic in user_set_comics %}hidden{% endif %}">
              <span class="action">
                <i class="icon-plus-sign icon-white"></i>
                Add to my comics
              </span>
              <span class="success">
                <i class="icon-ok icon-white"></i>
                Added
              </span>
            </button>
          </form>

          <h3 id="r{{ release.id }}">
            <a href="{{ release.get_absolute_url }}">
              {{ release.comic.name }}
              <small class="pub_date">
                published {{ release.pub_date|naturalday }}
              </small>
            </a>
          </h3>

          {% cache 3600 'release' release.id %}
            {% include "core/release-content.html" %}
          {% endcache %}
        </div>

      {% empty %}

        {% if user_set.hide_empty_comics %}
          <!-- No release for {{ comic.name }} -->
        {% else %}
          <div class="release well">
            <form action="{% url "toggle_comic" %}" method="post"
              class="pull-right userset-toggle">
              {% csrf_token %}
              <input type="hidden" name="comic" value="{{ comic.slug }}">
              <button type="submit" name="remove_comic"
                class="btn btn-danger btn-small userset-remove-comic
                  {% if comic not in user_set_comics %}hidden{% endif %}">
                <span class="action">
                  <i class="icon-minus-sign icon-white"></i>
                  Remove from my comics
                </span>
                <span class="confirmation">
                  <i class="icon-warning-sign icon-white"></i>
                  Click again to really remove this comic
                </span>
                <span class="success">
                  <i class="icon-ok icon-white"></i>
                  Removed
                </span>
              </button>
              <button type="submit" name="add_comic"
                class="btn btn-success btn-small userset-add-comic
                  {% if comic in user_set_comics %}hidden{% endif %}">
                <span class="action">
                  <i class="icon-plus-sign icon-white"></i>
                  Add to my comics
                </span>
                <span class="success">
                  <i class="icon-ok icon-white"></i>
                  Added
                </span>
              </button>
            </form>


            <h3><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></h3>

            <strong>No matching release found.</strong> See
            <a href="{% url "comic-latest" comic.slug %}">the latest release</a> or
            the <a href="{{ comic.get_redirect_url }}">official site</a>.
          </div>
        {% endif %}

      {% endfor %}
    {% empty %}

      <div class="alert alert-block alert-info">
        <p>
          <strong>No comics found.</strong> You can browse available comics
          below, or
          <a href="{% url "import_named_set" %}">import a comic set</a>.
        </p>
        <p class="alert-actions">
        </p>
      </div>

    {% endfor %}
  </div>

{% endblock %}
