{% for image in release.get_ordered_images %}

    {% if image.title %}
        <h4>&ldquo;{{ image.title|safe }}&rdquo;</h4>
    {% endif %}

    <p class="image"><a href="{{ release.get_absolute_url }}">
        <img src="{{ image.file.url }}"
            height="{{ image.height }}" width="{{ image.width }}"
            alt="{{ release }}"
            {% if image.text %}title="{{ image.text|safe|escape }}"{% endif %}
        />
    </a></p>

    {% if image.text %}
        <p class="image_text">{{ image.text|linebreaksbr|safe }}</p>
    {% endif %}

{% empty %}

    <p>No matching images found.</p>

{% endfor %}

<p class="meta">
    Credits: {{ release.comic.rights }}.
    {% with release.get_images_first_release as first_release %}
        {% ifnotequal release first_release %}
            <a href="{{ first_release.get_absolute_url }}">
            First released {{ first_release.pub_date|date }}</a>.
        {% endifnotequal %}
    {% endwith %}
    Retrieved at {{ release.fetched|time }}, {{ release.fetched|date }}
    from <a href="{{ release.comic.get_redirect_url }}">
    {{ release.comic.url }}</a>.
</p>

