{% extends "core/base.html" %}
{% load humanize %}


{% block title %}{{ page.title|safe }}{% endblock %}


{% block extra_head %}
    {{ block.super }}
    {% ifequal page.view_type 'comic' %}
        {% if comics.0.0 %}
            <link rel="alternate" type="application/atom+xml"
                href="{{ comics.0.0.get_feed_url }}"
                title="Comic feed: {{ comics.0.0.name }}" />
        {% endif %}
    {% endifequal %}
    {% ifequal page.view_type 'set' %}
        {% if set %}
            <link rel="alternate" type="application/atom+xml"
                href="{{ set.get_feed_url }}"
                title="Comic set feed: {{ set.name }}" />
        {% endif %}
    {% endifequal %}
    {% if page.first_url %}
        <link rel="start" href="{{ page.first_url }}" />
        <link rel="first" href="{{ page.first_url }}" />
    {% endif %}
    {% if page.prev_url %}
        <link rel="prev" href="{{ page.prev_url }}" />
    {% endif %}
    {% if page.next_url %}
        <link rel="next" href="{{ page.next_url }}" />
    {% endif %}
    {% if page.last_url %}
        <link rel="last" href="{{ page.last_url }}" />
    {% endif %}
{% endblock %}


{% block top_menu %}
<div id="top_menu">
    <div class="content">
    {% include "core/release-menu.html" with top_menu=1 %}
    </div>
</div>
{% endblock %}


{% block bottom_menu %}
<div id="bottom_menu">
    <div class="content">
    {% include "core/release-menu.html" with top_menu=0 %}
    </div>
</div>
{% endblock %}


{% block content %}

<h2>{{ page.title|safe }}</h2>

{% ifequal page.view_type 'set' %}
    {% if set %}
    <p class="buttons">
        <a href="{% url set-edit set.name %}">
            <img src="{{ STATIC_URL }}img/icons/pencil.png"
                alt="Edit comic set: {{ set.name }}"
                title="Edit comic set: {{ set.name }}" />
            Edit comic set</a>
    </p>
    {% endif %}
{% endifequal %}

<div id="releases">

{% for comic, releases in comics %}
    {% for release in releases %}

<div class="release">

    <h3 id="release-{{ release.id }}">
        <a href="{{ release.get_absolute_url }}">{{ release.comic.name }}
        <span class="pub_date">published {{ release.pub_date|naturalday }}
        </span></a>
    </h3>

    {% include "core/release-content.html" with show_time_since=1 %}

</div>

    {% empty %}
        {% if set and set.hide_empty_comics %}

<!-- No release for {{ comic.name }} -->

        {% else %}

<div class="release">

    <h3><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></h3>

    <p>No matching release found. See
    <a href="{% url comic-latest comic.slug %}">the latest release</a> or
    the <a href="{{ comic.get_redirect_url }}">official site</a>.</p>

</div>

        {% endif %}
    {% endfor %}
{% empty %}

<p>
    No comics found.
    {% if set %}
        <a href="{% url set-edit set.name %}">Edit set</a> to add comics.
    {% endif %}
</p>

{% endfor %}

</div>

{% endblock %}


{% block extra_footer %}
    <script type="text/javascript">
        var releases = [{% for comic, releases in comics %}{% for release in releases %}
            'release-{{ release.id }}'{% if not forloop.last or not forloop.parentloop.last%},{% endif %}{% endfor %}{% endfor %}
        ];
    </script>
{{ block.super }}
{% endblock %}
