<ul class="nav pull-right">

  {% ifequal page.view_type 'comic' %}
    {% if comics.0.0 %}
      <li>
        <a href="{{ comics.0.0.get_feed_url }}?key={{ user.get_profile.secret_key }}"
          title="Comic feed for {{ comics.0.0.name }}">
          <i class="icon-fire"></i>
          Feed</a>
      </li>
    {% endif %}
  {% endifequal %}

  {% ifequal page.view_type 'userset' %}
    <li>
      <a href="{{ user_set.get_feed_url }}?key={{ user.get_profile.secret_key }}"
        title="Comic feed for {{ user.email }}">
        <i class="icon-fire"></i>
        Feed</a>
    </li>
  {% endifequal %}

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-calendar"></i>
      Time frame <b class="caret"></b></a>
    <ul class="dropdown-menu">
      {% for time_frame in page.time_frames %}
        <li>
          {% if time_frame.url %}
            <a href="{{ time_frame.url }}">
          {% else %}
            <a class="disabled">
          {% endif %}
          {{ time_frame.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>

  <li>
    {% if page.first_url %}
      <a href="{{ page.first_url }}" id="first">
    {% else %}
      <a class="disabled">
    {% endif %}
    <i class="icon-step-backward"></i>
    First</a>
  </li>

  <li>
    {% if page.prev_url %}
      <a href="{{ page.prev_url }}" id="prev">
    {% else %}
      <a class="disabled">
    {% endif %}
    <i class="icon-backward"></i>
    Previous</a>
  </li>

  <li>
    {% if page.next_url %}
      <a href="{{ page.next_url }}" id="next">
    {% else %}
      <a class="disabled">
    {% endif %}
    <i class="icon-forward"></i>
    Next
  </a>
  </li>

  <li>
    {% if page.last_url %}
      <a href="{{ page.last_url }}" id="last">
    {% else %}
      <a class="disabled">
    {% endif %}
    <i class="icon-step-forward"></i>
    Last
  </a></li>
</ul>
