{% extends "core/base.html" %}

{% load cache humanize %}


{% block title %}
  {{ page.title|safe }}
{% endblock %}


{% block extra_head %}
  {{ block.super }}
  {% ifequal page.view_type 'comic' %}
    {% if comics.0.0 %}
      <link rel="alternate" type="application/atom+xml"
        href="{{ comics.0.0.get_feed_url }}"
        title="Comic feed: {{ comics.0.0.name }}">
    {% endif %}
  {% endifequal %}
  {% ifequal page.view_type 'set' %}
    {% if set %}
      <link rel="alternate" type="application/atom+xml"
        href="{{ set.get_feed_url }}"
        title="Comic set feed: {{ set.name }}">
    {% endif %}
  {% endifequal %}
  {% if page.first_url %}
    <link rel="start" href="{{ page.first_url }}">
    <link rel="first" href="{{ page.first_url }}">
  {% endif %}
  {% if page.prev_url %}
    <link rel="prev" href="{{ page.prev_url }}">
  {% endif %}
  {% if page.next_url %}
    <link rel="next" href="{{ page.next_url }}">
  {% endif %}
  {% if page.last_url %}
    <link rel="last" href="{{ page.last_url }}">
  {% endif %}
{% endblock %}


{% block top_menu %}
  {% include "core/release-menu.html" %}
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>{{ page.title|safe }}</h1>
  </div>

  {% ifequal page.view_type 'set' %}
    {% if set %}
      <p>
        <a href="{% url set-edit set.name %}" class="btn">
          <i class="icon-edit"></i> Edit comic set
        </a>
      </p>
    {% endif %}
  {% endifequal %}

  <div id="releases">
    {% for comic, releases in comics %}
      {% for release in releases %}

        <div class="release">
          <h3 id="r{{ release.id }}">
            <a href="{{ release.get_absolute_url }}">
              {{ release.comic.name }}
              <small class="pub_date">
                published {{ release.pub_date|naturalday }}
              </small>
            </a>
          </h3>
          <div class="well">
            {% cache 3600 'release' release.id %}
              {% include "core/release-content.html" %}
            {% endcache %}
          </div>
        </div>

      {% empty %}

        {% if set and set.hide_empty_comics %}
          <!-- No release for {{ comic.name }} -->
        {% else %}
          <div class="release">
            <h3><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></h3>

            <div class="alert alert-block alert-info">
              <p>
                <strong>No matching release found.</strong> See
                <a href="{% url comic-latest comic.slug %}">the latest release</a> or
                the <a href="{{ comic.get_redirect_url }}">official site</a>.
              </p>
            </div>
          </div>
        {% endif %}

      {% endfor %}
    {% empty %}

      <div class="alert alert-block alert-info">
        <p>
          <strong>No comics found.</strong>
        </p>
        <p class="alert-actions">
          {% if set %}
            <a href="{% url set-edit set.name %}" class="btn small">Edit comics set</a>
          {% endif %}
        </p>
      </div>

    {% endfor %}
  </div>

{% endblock %}


{% block extra_footer %}
  <script type="text/javascript">
    var releases = [{% for comic, releases in comics %}{% for release in releases %}
      'r{{ release.id }}'{% if not forloop.last or not forloop.parentloop.last%},{% endif %}{% endfor %}{% endfor %}
    ];
  </script>
  {{ block.super }}
{% endblock %}
