html {
	background: #eeeeec;
	color: black;
	font-family: sans-serif;
}

body {
	text-align: justify;
}

/* Grid layout */
.content {
	margin-left: auto;
	margin-right: auto;
	min-width: 750px;
	width: 74.923em;
}

/* Headers */
h1 {
	font-size: 197%;
	font-weight: bolder;
	margin: 0;
}
h2 {
	font-size: 182%;
	font-weight: bolder;
	margin: 0.5em 0 0.5em;
}
h3 {
	font-size: 153.9%;
	font-weight: normal;
	margin: 1em 0 0.5em;
}

/* Tables */
table {
	margin: 0.5em 0;
	width: 100%;
}
table tr {
	border-bottom: 1px solid #eeeeec;
}
table th, table td {
	border: 0;
	padding: 0.5em;
}
table th {
	font-weight: bold;
	text-align: left;
}
table td img {
	vertical-align: bottom;
}

/* Forms */
form input, form textarea {
	border: 1px solid #bbb;
	color: black;
	font-size: 123.1%;
	padding: 0.2em;
}
form#new_set {
	text-align: right;
}
form#new_set input#id_name {
	margin-right: 5px;
	width: 8em;
}
form#edit_set ul {
	margin: 0;
}
form#edit_set ul li {
	list-style-type: none;
	margin-left: 0;
	padding: 0.2em;
}
form#feedback textarea {
	width: 40em;
}

/* Text */
p, ul {
	font-size: 108%;
}
em {
	font-style: italic;
}
ul {
	margin-left: 0;
}
ul li {
	list-style-type: square;
	margin-left: 1.5em;
}

/* Links */
a {
	background: transparent;
	color: #204a87;
	text-decoration: underline;
}
a:hover {
	color: #933;
}

/* Images */
img {
	border: 0;
}

/* Clearing ruler */
hr.clear {
	clear: both;
	margin: 0;
	visibility: hidden;
}

/* Header area */
#hd, #hd .content {
	background: #204a87;
	color: white;
}
#hd .content {
	padding: 1em;
	height: 4em;
}
#hd a {
	background: transparent;
	color: white;
	text-decoration: none;
}
#hd #title {
	float: left;
}
#hd h1 a:hover {
	text-decoration: none;
}
#hd #sitemenu {
	float: right;
}
#hd #sitemenu a:hover {
	text-decoration: underline;
}
#hd #sitemenu ul {
	margin: 0;
}
#hd #sitemenu ul li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding-left: 1em;
}

/* Body area */
#bd, #bd .content {
	background: white;
	color: black;
}
#bd .content {
	padding: 1em;
}

/* Cloud area */
#cloud, #cloud .content {
	background: #3465a4;
	color: white;
}
#cloud .content {
	line-height: 1.5em;
	padding: 1em;
}
#cloud .content {
	background: #3465a4;
	color: white;
}
#cloud h2, #cloud ul {
	font-size: 100%;
}
#cloud h2 {
	display: inline;
	font-weight: bold;
}
#cloud ul, #cloud ul li {
	display: inline;
	margin: 0;
}
#cloud a {
	background: transparent;
	color: white;
	margin-right: 0.5em;
	text-decoration: none;
	white-space: nowrap;
}
#cloud a:hover {
	text-decoration: underline;
}

/* Footer area */
#ft, #ft .content {
	background: #204a87;
	color: white;
}
#ft .content {
	padding: 1em;
}
#ft a {
	background: transparent;
	color: white;
	text-decoration: none;
}
#ft a:hover {
	text-decoration: underline;
}

/* Timeframe and navigation menu */
.menu {
	margin: 0.5em 0;
	width: 100%;
	height: 2em;
}
.menu ul {
	font-size: 100%;
	margin: 0;
}
.menu ul li {
	display: inline;
	list-style-type: none;
	margin: 0;
}
.menu .navigation {
	float: left;
}
.menu .timeframe {
	float: right;
}

/* Comic strips */
.strip {
	margin: 1em 0 2em;
}
.strip h3 {
	margin: 0;
}
.strip h3 a {
	background: transparent;
	color: black;
	text-decoration: none;
}
.strip h3 .strippub {
	color: #666;
}
.strip img.stripimg {
	background: white;
	border: 2px solid #ddd;
	padding: 0.5em;
}
.strip p {
	margin: 0.5em 0;
}
.strip p.striptext {
	font-style: italic;
}
.strip p.stripmeta {
	background: transparent;
	color: #666;
	font-size: 93%;
}
.strip p.stripmeta a, .strip p.stripmeta a:hover {
	background: transparent;
	color: #666;
	text-decoration: none;
}

/* Message panels */
.info, .success, .warning, .notice, .error {
	border: 2px solid black;
	padding: 0.8em;
	margin: 0.5em 0;
	width: 30em;
}
.info h3, .success h3, .warning h3, .notice h3, .error h3 {
	margin: 0 0 0.5em 0;
}
.info {
	background: #eeeeec;
	border-color: #d3d7cf;
	color: black;
}
.success {
	background: #e6efc2;
	border-color: #c6d880;
	color: #529214;
}
.warning, .notice {
	background: #fff6bf;
	border-color: #ffd324;
	color: #817134;
}
.error {
	background: #fbe3e4;
	border-color: #fbc2c4;
	color: #d12f19;
}

/* Emphasizing */
.title {
	font-weight: bolder;
}

/* Alignment */
.floatleft {
	float: left;
	margin-right: 1em;
}
.floatright {
	float: right;
	margin-left: 1em;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
.aligncenter {
	text-align: center;
}

/* Buttons
 * from http://particletree.com/features/rediscovering-the-button-element/ */
.buttons a, .buttons button {
	margin: 0 5px 0 0;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 4px 5px 4px 5px; /* Links */
}
.buttons button {
	width: auto;
	overflow: visible;
	padding: 2px 5px 1px 5px; /* IE6 */
}
.buttons button[type] {
	padding: 3px 5px 3px 5px; /* Firefox */
	line-height: 17px; /* Safari */
}
*: first-child+html button[type] {
	padding: 2px 5px 1px 5px; /* IE7 */
}
.buttons button img, .buttons a img {
	margin: 0 0px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}
/* Standard buttons */
.buttons a:hover, button:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}
.buttons a:active {
	background-color: #6299c5;
	border: 1px solid #6299c5;
	color: #fff;
}
/* Positive buttons */
.buttons a.positive, button.positive {
	color: #529214;
}
.buttons a.positive:hover, button.positive:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}
.buttons a.positive:active {
	background-color: #529214;
	border: 1px solid #529214;
	color: #fff;
}
/* Negative buttons */
.buttons a.negative, button.negative {
	color: #d12f19;
}
.buttons a.negative:hover, button.negative:hover {
	background: #fbe3e4;
	border: 1px solid #fbc2c4;
	color: #d12f19;
}
.buttons a.negative:active {
	background-color: #d12f19;
	border: 1px solid #d12f19;
	color: #fff;
}
/* Inactive buttons */
.buttons a.inactive, button.inactive {
	color: #c0c0c0;
	cursor: default;
}
.buttons a.inactive:hover, button.inactive:hover {
	background: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #c0c0c0;
}
.buttons a.inactive:active {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	color: #c0c0c0;
}
