{% extends "base.html" %}
{% load cache list_to_columns %}


{% block title %}
  {{ title|safe }}
{% endblock %}


{% block extra_head %}
  {{ block.super }}
  {% if feed_url %}
    <link rel="alternate" type="application/atom+xml"
      href="{{ feed_url }}"
      title="{{ feed_title }}">
  {% endif %}
  {% if first_url %}
    <link rel="start" href="{{ first_url }}">
    <link rel="first" href="{{ first_url }}">
  {% endif %}
  {% if prev_url %}
    <link rel="prev" href="{{ prev_url }}">
  {% endif %}
  {% if next_url %}
    <link rel="next" href="{{ next_url }}">
  {% endif %}
  {% if last_url %}
    <link rel="last" href="{{ last_url }}">
  {% endif %}
{% endblock %}


{% block top_menu %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
      {% if latest_url %}
        <a href="{{ latest_url }}"
          class="
            btn navbar-btn
            {% ifequal view_type 'latest' %}
              btn-primary active
            {% else %}
              btn-default
            {% endifequal %}">
          Latest</a>
      {% else %}
        <a class="btn navbar-btn btn-default disabled">Latest</a>
      {% endif %}

      {% ifequal view_type 'latest' %}
        <a {% if first_url %}href="{{ first_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not first_url %}disabled{% endif %}"
          id="first" title="First">
        <i class="icon-step-backward icon-white"></i></a>

        <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not prev_url %}disabled{% endif %}"
          id="prev" title="Previous">
        <i class="icon-backward icon-white"></i></a>

        <a {% if next_url %}href="{{ next_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not next_url %}disabled{% endif %}"
          id="next" title="Next">
        <i class="icon-forward icon-white"></i></a>

        <a {% if last_url %}href="{{ last_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not last_url %}disabled{% endif %}"
          id="last" title="Last">
        <i class="icon-step-forward icon-white"></i></a>
      {% endifequal %}
    </div>

    <div class="btn-group">
      {% if today_url %}
        <a href="{{ today_url }}"
          class="
            btn navbar-btn
            {% ifequal view_type 'today' %}
              btn-primary active
            {% else %}
              btn-default
            {% endifequal %}">
          Today</a>
      {% else %}
        <a class="btn navbar-btn btn-default disabled">Today</a>
      {% endif %}

      {% ifequal view_type 'today' %}
        <a {% if first_url %}href="{{ first_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not first_url %}disabled{% endif %}"
          id="first" title="First">
        <i class="icon-step-backward icon-white"></i></a>

        <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not prev_url %}disabled{% endif %}"
          id="prev" title="Previous">
        <i class="icon-backward icon-white"></i></a>

        <a {% if next_url %}href="{{ next_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not next_url %}disabled{% endif %}"
          id="next" title="Next">
        <i class="icon-forward icon-white"></i></a>

        <a {% if last_url %}href="{{ last_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not last_url %}disabled{% endif %}"
          id="last" title="Last">
        <i class="icon-step-forward icon-white"></i></a>
      {% endifequal %}
    </div>

    <div class="btn-group">
      {% if day_url %}
        <a href="{{ day_url }}"
          class="
            btn navbar-btn
            {% ifequal view_type 'day' %}
              btn-primary active
            {% else %}
              btn-default
            {% endifequal %}">
          By day</a>
      {% else %}
        <a class="btn navbar-btn btn-default disabled">By day</a>
      {% endif %}

      {% ifequal view_type 'day' %}
        <a {% if first_url %}href="{{ first_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not first_url %}disabled{% endif %}"
          id="first" title="First">
        <i class="icon-step-backward icon-white"></i></a>

        <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not prev_url %}disabled{% endif %}"
          id="prev" title="Previous">
        <i class="icon-backward icon-white"></i></a>

        <a {% if next_url %}href="{{ next_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not next_url %}disabled{% endif %}"
          id="next" title="Next">
        <i class="icon-forward icon-white"></i></a>

        <a {% if last_url %}href="{{ last_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not last_url %}disabled{% endif %}"
          id="last" title="Last">
        <i class="icon-step-forward icon-white"></i></a>
      {% endifequal %}
    </div>

    <div class="btn-group">
      {% if month_url %}
        <a href="{{ month_url }}"
          class="
            btn navbar-btn
            {% ifequal view_type 'month' %}
              btn-primary active
            {% else %}
              btn-default
            {% endifequal %}">
          By month</a>
      {% else %}
        <a class="btn navbar-btn btn-default disabled">By month</a>
      {% endif %}

      {% ifequal view_type 'month' %}
        <a {% if first_url %}href="{{ first_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not first_url %}disabled{% endif %}"
          id="first" title="First">
        <i class="icon-step-backward icon-white"></i></a>

        <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not prev_url %}disabled{% endif %}"
          id="prev" title="Previous">
        <i class="icon-backward icon-white"></i></a>

        <a {% if next_url %}href="{{ next_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not next_url %}disabled{% endif %}"
          id="next" title="Next">
        <i class="icon-forward icon-white"></i></a>

        <a {% if last_url %}href="{{ last_url }}"{% endif %}
          class="btn navbar-btn btn-primary {% if not last_url %}disabled{% endif %}"
          id="last" title="Last">
        <i class="icon-step-forward icon-white"></i></a>
      {% endifequal %}
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="page-header">
    <div class="btn-toolbar pull-right">
      {% if feed_url %}
        <div class="btn-group">
          <a href="{{ feed_url }}"
            title="{{ feed_title }}" class="btn btn-default">
            <i class="icon-rss"></i> Feed</a>
        </div>
      {% endif %}
    </div>

    <h1>
      {{ title|safe }}
      {% if subtitle %}
        <small>{{ subtitle|safe }}</small>
      {% endif %}
    </h1>
  </div>

  {% ifequal object_type 'mycomics' %}
    {% ifequal view_type 'latest' %}
      <div class="alert alert-info new-releases-alert">
        <strong class="new-release-count">0</strong> new release(s) available.
        <a href="{% url "mycomics_latest" %}">Show</a>
      </div>
    {% endifequal %}
  {% endifequal %}

  <div id="releases">
    {% for release in release_list %}

      <div class="release panel panel-default"
        data-comic="{{ release.comic.slug }}" data-release-id="{{ release.id }}">
        <div class="panel-heading">
          <div class="pull-right">
            <span class="pub_date">{{ release.pub_date }}</span>

            {% if release.comic not in my_comics %}
              <form action="{% url "toggle_comic" %}" method="post"
                class="mycomics-toggle pull-right">
                {% csrf_token %}
                <input type="hidden" name="comic"
                  value="{{ release.comic.slug }}">
                <button type="submit" name="add_comic"
                  title="Add to my comics"
                  class="btn btn-default btn-xs mycomics-add">
                  <span class="action">
                    <i class="icon-plus"></i>
                    Add to my comics
                  </span>
                  <span class="success">
                    <i class="icon-ok icon-white"></i>
                    Added to my comics
                  </span>
                </button>
              </form>
            {% endif %}
          </div>

          <h2 class="panel-title float-left">
            <a href="{{ release.get_absolute_url }}">
              {{ release.comic.name }}
            </a>
          </h2>
        </div>

        {% cache 3600 'release' release.id %}
          {% include "browser/release_content.html" %}
        {% endcache %}

      </div>

    {% empty %}

      {% ifequal object_type 'mycomics' %}
        <div class="alert alert-info">
          <strong>No comics found in my comics.</strong>
          You can browse available comics below.
          {% url "import_named_set" as import_named_set_url %}
          {% if import_named_set_url %}
            Alternatively, you can
            <a href="{{ import_named_set_url }}">import an old comic set</a>.
          {% endif %}
        </div>
      {% endifequal %}

      {% ifequal object_type 'onecomic' %}
        <div class="alert alert-info">
          <strong>No releases found for this comic.</strong>
          You can browse other available comics below.
        </div>

        {% if user.is_superuser %}
          <div class="alert alert-danger">
            <strong>To the site admin:</strong>
            You can fetch releases by running:
            <code>python manage.py comics_getreleases</code>
          </div>
        {% endif %}
      {% endifequal %}

    {% endfor %}
  </div>

{% endblock %}


{% block cloud %}
  <form action="{% url "edit_comics" %}" method="post">
    {% csrf_token %}

    <div class="page-header">
      <div class="pull-right">
        <div class="show-view">
          <button type="button" class="btn btn-default mycomics-edit">
            <i class="icon-pencil"></i>
            Change subscriptions
          </button>
        </div>
        <div class="edit-view hide">
          <button type="reset" class="btn btn-default mycomics-cancel">
            Cancel
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary">
            <i class="icon-ok icon-white"></i>
            Save changes
          </button>
        </div>
      </div>
      <h2>All comics <small>aggregated by {{ site_title }}</small></h2>
    </div>

    {% if all_comics %}
      {% list_to_columns all_comics as comic_columns 4 %}
      <div class="row">

        {% for comic_column in comic_columns %}
          <div class="col-md-3">
            <ul class="list-unstyled">
              {% for comic in comic_column %}
                <li class="{% if not comic.active %}inactive{% endif %}{% if comic in my_comics %} subscribed{% endif %}">
                  <div class="pull-right">
                    {% if not comic.active %}
                      <span class="label label-default">Inactive</span>
                    {% endif %}
                    {% if comic.is_new %}
                      <span class="label label-info">New</span>
                    {% endif %}
                    {% if comic in my_comics %}
                      <span class="label label-inverse">Subscribed</span>
                    {% endif %}
                  </div>
                  <div class="show-view">
                    <a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a>
                  </div>
                  <div class="edit-view hide">
                    <label class="checkbox">
                      <input type="checkbox" name="{{ comic.slug }}"
                        {% if comic in my_comics %}checked="checked"{% endif %}>
                      {{ comic.name }}
                    </label>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}

      </div>
    {% else %}

      <div class="alert alert-info">
        <strong>No comics found in the database.</strong>
      </div>

      {% if user.is_superuser %}
        <div class="alert alert-danger">
          <strong>To the site admin:</strong>
          You can add comics to the site by running:
          <code>python manage.py comics_addcomics -c ...</code>
        </div>
      {% endif %}

    {% endif %}
  </form>
{% endblock %}
