{% extends "base.html" %}
{% load bootstrap %}

{% block title %}
  Register
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Register <small>a new account</small></h1>
  </div>

  <form action="{% url "registration_register" %}" method="post" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="invitation_key" value="{{ invitation_key }}">

    {{ form|bootstrap_horizontal }}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Register
        </button>
      </div>
    </div>
  </form>

{% endblock %}
