{% extends "base.html" %}
{% load bootstrap %}


{% block title %}
  Invite a friend
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Invite a friend <small>to use {{ site_title }}</small></h1>
  </div>

  {% ifequal remaining_invitations 0 %}

    <div class="alert alert-info">
      <strong>You do not have any invitations left.</strong>
      Please <a href="{% url "help_feedback" %}">contact the site admin</a>
      to request more invitations.
    </div>

  {% else %}

    <p>
      You have <strong>{{ remaining_invitations }}
      invitation{{ remaining_invitations|pluralize }}</strong> left.

      When you submit the form below, your friend will get an email with a link
      he can use to register a new user account.
    </p>

    <form action="" method="post" class="form-horizontal">
      {% csrf_token %}

      {{ form|bootstrap_horizontal }}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">
            <i class="icon-share icon-white"></i>
            Invite friend
          </button>
        </div>
      </div>
    </form>

  {% endifequal %}

  {% if user.invitations_sent.count %}

    <h2>Sent invitations</h2>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date sent</th>
            <th>Invitation key</th>
            <th>Used by</th>
          </tr>
        </thead>
        <tbody>
          {% for invitation in user.invitations_sent.all %}
            <tr>
              <td>
                {{ invitation.date_invited|date:"Y-m-d H:i e" }}
              </td>
              <td>
                {% if invitation.is_usable %}
                  <a href="{% url "invitation_invited" invitation_key=invitation.key %}">
                {% endif %}
                {{ invitation.key }}
                {% if invitation.is_usable %}
                  </a>
                {% endif %}
              </td>
              <td>
                {% if invitation.registrant %}
                  {% if invitation.registrant.is_active %}
                    {{ invitation.registrant.email }}
                  {% else %}
                    <i class="icon-exclamation-sign"></i>
                    Used, email not verified
                    ({{ invitation.registrant.email }})
                  {% endif %}
                {% elif invitation.key_expired %}
                  <i class="icon-exclamation-sign"></i> Unused, expired
                {% elif invitation.is_usable %}
                  <i class="icon-ok-sign"></i> Unused, still valid
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  {% endif %}

{% endblock %}
