{% extends "base.html" %}
{% load bootstrap %}
{% load url from future %}

{% block title %}
  Register
{% endblock %}

{% block content %}

  <div class="page-header">
    <h1>Register <small>a new account</small></h1>
  </div>

  {% if invitation_key %}
    <p>
      <strong>The invitation key is invalid.</strong>
      You provided the key: <strong>{{ invitation_key }}</strong>
    </p>
  {% else %}
    <p>Open registration is currently turned off. You need an invite to join.</p>
  {% endif %}

{% endblock %}
