{% extends "account/base.html" %}

{% load account %}

{% block title %}Confirm email address{% endblock %}

{% block content %}

<h1 class="page-title">
  Confirm
  <small>email address</small>
</h1>

{% if confirmation %}

  <p>
    Please confirm that {{ confirmation.email_address.email }} is an email
    address for user {{ confirmation.email_address.user }}.
  </p>

  <form method="post" action="{% url "account_confirm_email" confirmation.key %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>

{% else %}

  <p>
    This email confirmation link expired or is invalid. Please
    <a href="{% url "account_email" %}">issue a new email confirmation request</a>.
  </p>

{% endif %}

{% endblock %}
