{% extends "account/base.html" %}
{% load account %}
{% load bootstrap %}

{% block title %}
  Login
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Login <small>to your account</small></h1>
</div>

<form method="post" action="{% url "account_login" %}" class="form-horizontal">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}

  {{ form|bootstrap_horizontal }}

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">
        <i class="fa-solid fa-sign-in"></i>
        Login
      </button>
      &nbsp;
      <a href="{% url "account_reset_password" %}" class="btn btn-default">
        <i class="fa-solid fa-refresh"></i>
        Reset password
      </a>
    </div>
  </div>
</form>

{% endblock %}
