{% extends "account/base.html" %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}
  Login
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Login <small>to your account</small></h1>
</div>

<form method="post" action="{% url "account_login" %}">
  {% csrf_token %}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}

  {{ form|crispy }}

  <button type="submit" class="btn btn-primary">
    <i class="fa-solid fa-sign-in"></i>
    Login
  </button>
</form>

{% endblock %}
