{% extends "account/base.html" %}
{% load bootstrap %}

{% block title %}Change password{% endblock %}

{% block content %}

{% if token_fail %}

  <h1 class="page-header">
    Bad token
  </h1>

  <p>
    The password reset link was invalid, possibly because it has already been
    used. Please request a
    <a href="{% url 'account_reset_password' %}">new password reset</a>.
  </p>

{% else %}

  <h1 class="page-header">
    Change password
  </h1>

  {% if form %}
    <form method="post" action="{{ action_url }}" class="form-horizontal">
      {% csrf_token %}

      {{ form|bootstrap_horizontal }}

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">
            Change password
          </button>
        </div>
      </div>
    </form>
  {% else %}
    <p>Your password is now changed.</p>
  {% endif %}

{% endif %}

{% endblock %}
