{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Registration{% endblock %}

{% block content %}

<h1 class="page-header">
  Register
  <small>a new account</small>
</h1>

<p>
  Already have an account? Then please <a href="{{ login_url }}">login</a>.
</p>

<form method="post" action="{% url "account_signup" %}">
  {% csrf_token %}

  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      {{ form|crispy }}

      <button type="submit" class="btn btn-primary">
        Register
      </button>
    </div>
  </div>
</form>

{% endblock %}
