<div class="btn-toolbar">

  <div class="btn-group">
    {% if latest_url %}
      <a href="{{ latest_url }}"
        class="
          btn
          {% if view_type == 'latest' %}
            btn-primary active
          {% else %}
            btn-default
          {% endif %}">
        Latest</a>
    {% else %}
      <a class="btn btn-default disabled">Latest</a>
    {% endif %}

    {% if view_type == 'latest' %}
      <a {% if first_url %}href="{{ first_url }}"{% endif %}
        class="btn btn-primary {% if not first_url %}disabled{% endif %}"
        id="first" title="First">
      <i class="fa-solid fa-step-backward"></i></a>

      <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
        class="btn btn-primary {% if not prev_url %}disabled{% endif %}"
        id="prev" title="Previous">
      <i class="fa-solid fa-backward"></i></a>

      <a {% if next_url %}href="{{ next_url }}"{% endif %}
        class="btn btn-primary {% if not next_url %}disabled{% endif %}"
        id="next" title="Next">
      <i class="fa-solid fa-forward"></i></a>

      <a {% if last_url %}href="{{ last_url }}"{% endif %}
        class="btn btn-primary {% if not last_url %}disabled{% endif %}"
        id="last" title="Last">
      <i class="fa-solid fa-step-forward"></i></a>
    {% endif %}
  </div>

  <div class="btn-group">
    {% if today_url %}
      <a href="{{ today_url }}"
        class="
          btn
          {% if view_type == 'today' %}
            btn-primary active
          {% else %}
            btn-default
          {% endif %}">
        Today</a>
    {% else %}
      <a class="btn btn-default disabled">Today</a>
    {% endif %}

    {% if view_type == 'today' %}
      <a {% if first_url %}href="{{ first_url }}"{% endif %}
        class="btn btn-primary {% if not first_url %}disabled{% endif %}"
        id="first" title="First">
      <i class="fa-solid fa-step-backward"></i></a>

      <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
        class="btn btn-primary {% if not prev_url %}disabled{% endif %}"
        id="prev" title="Previous">
      <i class="fa-solid fa-backward"></i></a>

      <a {% if next_url %}href="{{ next_url }}"{% endif %}
        class="btn btn-primary {% if not next_url %}disabled{% endif %}"
        id="next" title="Next">
      <i class="fa-solid fa-forward"></i></a>

      <a {% if last_url %}href="{{ last_url }}"{% endif %}
        class="btn btn-primary {% if not last_url %}disabled{% endif %}"
        id="last" title="Last">
      <i class="fa-solid fa-step-forward"></i></a>
    {% endif %}
  </div>

  <div class="btn-group">
    {% if day_url %}
      <a href="{{ day_url }}"
        class="
          btn
          {% if view_type == 'day' %}
            btn-primary active
          {% else %}
            btn-default
          {% endif %}">
        By day</a>
    {% else %}
      <a class="btn btn-default disabled">By day</a>
    {% endif %}

    {% if view_type == 'day' %}
      <a {% if first_url %}href="{{ first_url }}"{% endif %}
        class="btn btn-primary {% if not first_url %}disabled{% endif %}"
        id="first" title="First">
      <i class="fa-solid fa-step-backward"></i></a>

      <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
        class="btn btn-primary {% if not prev_url %}disabled{% endif %}"
        id="prev" title="Previous">
      <i class="fa-solid fa-backward"></i></a>

      <a {% if next_url %}href="{{ next_url }}"{% endif %}
        class="btn btn-primary {% if not next_url %}disabled{% endif %}"
        id="next" title="Next">
      <i class="fa-solid fa-forward"></i></a>

      <a {% if last_url %}href="{{ last_url }}"{% endif %}
        class="btn btn-primary {% if not last_url %}disabled{% endif %}"
        id="last" title="Last">
      <i class="fa-solid fa-step-forward"></i></a>
    {% endif %}
  </div>

  <div class="btn-group">
    {% if month_url %}
      <a href="{{ month_url }}"
        class="
          btn
          {% if view_type == 'month' %}
            btn-primary active
          {% else %}
            btn-default
          {% endif %}">
        By month</a>
    {% else %}
      <a class="btn btn-default disabled">By month</a>
    {% endif %}

    {% if view_type == 'month' %}
      <a {% if first_url %}href="{{ first_url }}"{% endif %}
        class="btn btn-primary {% if not first_url %}disabled{% endif %}"
        id="first" title="First">
      <i class="fa-solid fa-step-backward"></i></a>

      <a {% if prev_url %}href="{{ prev_url }}"{% endif %}
        class="btn btn-primary {% if not prev_url %}disabled{% endif %}"
        id="prev" title="Previous">
      <i class="fa-solid fa-backward"></i></a>

      <a {% if next_url %}href="{{ next_url }}"{% endif %}
        class="btn btn-primary {% if not next_url %}disabled{% endif %}"
        id="next" title="Next">
      <i class="fa-solid fa-forward"></i></a>

      <a {% if last_url %}href="{{ last_url }}"{% endif %}
        class="btn btn-primary {% if not last_url %}disabled{% endif %}"
        id="last" title="Last">
      <i class="fa-solid fa-step-forward"></i></a>
    {% endif %}
  </div>

</div>
