{% extends "base.html" %}


{% block title %}
  Crawler status
{% endblock %}


{% block content %}

  <div class="page-header">
    <h1>Crawler status</h1>
  </div>

  <table id="status_legend" class="table table-bordered">
    <tbody>
      <tr>
        <th>Legend:</th>
        <td class="scheduled fetched">Scheduled and fetched</td>
        <td class="fetched">Fetched</td>
        <td class="scheduled">Scheduled</td>
        <td>Neither</td>
      </tr>
    </tbody>
  </table>

  <table id="status" class="table table-condensed table-bordered table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        {% for day in days %}
          <th>{{ day|date:"M j" }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
    {% for comic, days in timeline.items %}
      <tr>
        <th><a href="{{ comic.get_absolute_url }}">{{ comic.slug }}</a></th>
        <td><a href="{{ comic.get_redirect_url }}">
            <i class="fa fa-external-link" title="Website"></i></a></td>
        <td>{{ comic.days_since_last_release }}d</td>
        {% for classes, day, release in days %}
          <td title="{{ day|date }}"{% if classes %} class="{{ classes|join:" " }}"{% endif %}>
            {% if release %}
              <a href="{{ release.get_absolute_url }}">{{ day|date:"D" }}</a>
            {% else %}
              {{ day|date:"D" }}
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
