{% load cache static %}
<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | {{ site_title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-5.3.8.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-6.7.2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-solid-6.7.2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/comics.css' %}">
    {% block extra_head %}{% endblock %}
    {% if google_analytics_code %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_code }}"></script>
      <script nonce="{{ csp_nonce }}">
        window.dataLayer = window.dataLayer || [];
        function gtag() {
          dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ google_analytics_code }}');
      </script>
    {% endif %}
  </head>

  <body>
    {% block body %}

      <nav class="navbar navbar-expand-md bg-body-tertiary mb-3">
        <div class="container">
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url "mycomics_latest" %}">{{ site_title }}</a>
          {% else %}
            <a class="navbar-brand" href="{% url "home" %}">{{ site_title }}</a>
          {% endif %}
          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#site-menu"
            aria-controls="site-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% block site_menu %}
            <div class="collapse navbar-collapse" id="site-menu">
              <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {{ active.comics|yesno:"active," }}" href="{% url "mycomics_latest" %}">
                    <i class="fa-solid fa-images"></i>
                    My comics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{ active.comics_list|yesno:"active," }}" href="{% url "comics_list" %}">
                    <i class="fa-solid fa-list-check"></i>
                    All comics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{ active.status|yesno:"active," }}" href="{% url "status" %}">
                    <i class="fa-solid fa-chart-gantt"></i>
                    Crawler status</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link {{ active.login|yesno:"active," }}" href="{% url "account_login" %}">
                    <i class="fa-solid fa-sign-in"></i>
                    Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url "account_signup" %}">
                    <i class="fa-solid fa-plus"></i>
                    Register</a>
                </li>
              {% endif %}
              </ul>

              <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link {{ active.invite|yesno:"active," }}" href="{% url "invite" %}">
                    <i class="fa-solid fa-heart"></i>
                    Invite
                  </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle {{ active.account|yesno:"active," }}" href="#"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-user"></i>
                    Me
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item {{ active.account_details|yesno:"active," }}" href="{% url "account" %}">Account details</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url "account_email" %}">Email addresses</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url "account_change_password" %}">Change password</a>
                    </li>
                    <li>
                      <a class="dropdown-item {{ active.secret_key|yesno:"active," }}" href="{% url "secret_key" %}">Secret key</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                      <a class="dropdown-item" href="{% url "account_logout" %}">Logout</a>
                    </li>
                  </ul>
                </li>
              {% endif %}
              </ul>
            </div>
          {% endblock site_menu %}
        </div>
      </nav>

      <div class="container">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} {% if "error" in message.tags %}alert-danger{% endif %} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}

        {% block content %}{% endblock content %}

      </div>

      <div class="footer">
        <div class="container">
          <p class="text-body-secondary float-end">
            Powered by <a href="https://comics.readthedocs.io/">comics</a>
          </p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="{% url "help_about" %}">About</a></li>
            {% if user.is_authenticated %}
              <li class="list-inline-item"><a href="{% url "help_feedback" %}">Contact</a></li>
            {% endif %}
            <li class="list-inline-item"><a href="{% url "help_keyboard" %}">Keyboard shortcuts</a></li>
          </ul>
        </div>
      </div>

    {% endblock body %}

    <dialog class="keyboard-shortcuts">
      <form class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="h5 mb-0">Keyboard shortcuts</h4>
          <button class="btn-close" formmethod="dialog" aria-label="Close"></button>
        </div>
        <div class="card-body">
          {% include "help/keyboard_content.html" %}
        </div>
      </form>
    </dialog>

    {% block extra_footer %}
      {{ block.super }}
      <script src="{% static 'js/bootstrap-5.3.8.bundle.min.js' %}"></script>
      <script src="{% static 'js/comics.js' %}"></script>
    {% endblock extra_footer %}

  </body>
</html>
