{% extends "base.html" %}
{% load cache %}
{% load versioned_media %}

{% block extra_head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% versioned_media "style/default.css" %}" />
    <script type="text/javascript" src="{% versioned_media "scripts/navigation.js" %}"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-6797578-1");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
{% endblock %}

{% block body %}

<div id="hd">
    <div class="content">
        <div id="title">

<h1><a href="{% url top-latest %}">Daily Comics</a></h1>
<p><a href="{% url top-latest %}">your personal comic aggregator</a></p>

        </div>
        <div id="sitemenu">
{% block menu %}
<ul>
    <li><a href="{% url top-latest %}">Home</a></li>
    <li><a href="{% url set-new %}">Comic sets</a></li>
</ul>
{% endblock %}
        </div>
    </div>
</div>

<div id="bd">
    <div class="content">
{% block content %}{% endblock %}
    </div>
</div>

{% if all_comics %}
<div id="cloud">
    <div class="content">
{% block cloud %}
{% cache 500 all_comics %}
    <h2><a href="{% url comic-list %}">All comics</a></h2>
    <ul>
    {% for comic in all_comics %}
        <li><a href="{{ comic.get_absolute_url }}">{{ comic.name }}</a></li>
    {% endfor %}
    </ul>
{% endcache %}
{% endblock cloud %}
    </div>
</div>
{% endif %}

<div id="ft">
    <div class="content">
{% block footer %}

<ul>
    <li><a href="{% url about %}">About</a></li>
    <li><a href="{% url feedback %}">Feedback</a></li>
</ul>

{% endblock %}
    </div>
</div>

{% endblock %}
