html {
    overflow-y: scroll;
}

.browser-menu {
    margin-bottom: 10px;
}
.browser-menu .btn-group {
    margin-bottom: 10px;
}

.new-releases-alert {
    display: none;
}

.btn .confirmation,
.btn .success {
    display: none;
}

.release h3 {
    margin-top: 0;
}
.release blockquote {
    font-size: 14px;
    margin-bottom: 0;
}

.mycomics-toggle {
    margin-left: 15px;
}

.meta {
    margin-bottom: 0;
}

.comics-list {
    margin-bottom: 20px;
}
.comics-list a {
    color: #404040;
}
.comics-list li {
    border-bottom: 1px solid #eee;
    padding: 3px 0;
}
.comics-list label {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}
.comics-list .label {
    margin-left: 3px;
}
.comics-list .subscribed,
.comics-list .subscribed label {
    font-weight: bold;
}
.comics-list .inactive {
    opacity: 0.4;
}

#status td,
#status_legend td {
    text-align: center;
}
#status .scheduled,
#status_legend .scheduled {
    background: #cd0200;
    color: #fff;
}
#status .fetched,
#status_legend .fetched {
    background: #d47500;
    color: #fff;
}
#status .fetched.scheduled,
#status_legend .fetched.scheduled {
    background: #3cb521;
    color: #fff;
}
#status .fetched a,
#status .scheduled a {
    color: #fff;
}
#status_legend {
    width: auto;
}
