html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.navbar .nav > li > a.disabled,
.navbar .nav > li > a.disabled:hover {
    color: #000 !important;
    opacity: 0.3;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover{
    background: #e9e9e9;
}
.navbar .pull-right .btn-group:last-child {
    padding-right: 0;
}
.navbar .btn-toolbar {
    margin: 0;
    margin-bottom: -3px;
}

h3 {
    margin: 20px 0 10px;
}
.modal h3 {
    margin: 0;
}
h3 a:hover {
    text-decoration: none;
}
h3 small {
    color: #999;
}

h4 {
    margin-bottom: 10px;
}

.new-releases-alert {
    display: none;
}

.release h3,
.release form {
    margin: 0 0 12px;
}
.release .image img {
    height: auto;
    max-width: 100%;
}
.release .meta {
    margin: 0;
}

.btn .confirmation,
.btn .success {
    display: none;
}

#cloud {
    margin-bottom: 50px;
}
#cloud .page-header {
    margin-top: 40px;
    padding-bottom: 5px;
}
#cloud a {
    color: #404040;
}
#cloud li {
    border-bottom: 1px solid #f5f5f5;
    padding: 3px 0;
}
#cloud label {
    margin-bottom: 0;
}
#cloud .label {
    margin-left: 3px;
}
#cloud .subscribed,
#cloud .subscribed label {
    font-weight: bold;
}
#cloud .inactive {
    opacity: 0.4;
}

#feedback textarea {
    width: 40em;
}

#status td,
#status_legend td {
    text-align: center;
}
#status .scheduled,
#status_legend .scheduled {
    background: #fcc;
}
#status .fetched,
#status_legend .fetched {
    background: #fff7cc;
}
#status .fetched.scheduled,
#status_legend .fetched.scheduled {
    background: #efc;
}
#status_legend {
    width: auto;
}
