body {
    padding-top: 60px;
}

.navbar .nav > li > a {
    color: #fff;
    opacity: 0.6;
}
.navbar .nav > li > a:hover {
    opacity: 1.0;
}
.navbar .nav > li > a.disabled,
.navbar .nav > li > a.disabled:hover {
    opacity: 0.3;
}

.release h3 {
    margin-bottom: 5px;
}

#cloud {
    margin-bottom: 20px;
}
#cloud .page-header {
    margin-top: 40px;
    padding-bottom: 5px;
}
#cloud h3 a:hover {
    text-decoration: none;
}
#cloud a {
    color: #404040;
}
#cloud .inactive a {
    color: #c0c0c0;
}

#feedback textarea {
    width: 40em;
}

#status td,
#status_legend td {
    text-align: center;
}
#status .scheduled,
#status_legend .scheduled {
    background: #fcc;
}
#status .fetched,
#status_legend .fetched {
    background: #fff7cc;
}
#status .fetched.scheduled,
#status_legend .fetched.scheduled {
    background: #efc;
}
#status_legend {
    width: auto;
}
