html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

.navbar .nav > li > a.disabled,
.navbar .nav > li > a.disabled:hover {
    color: #000 !important;
    opacity: 0.3;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover{
    background: #e9e9e9;
}

h3 {
    margin: 20px 0 10px;
}
h3 a:hover {
    text-decoration: none;
}

h4 {
    margin-bottom: 10px;
}

.new-releases-alert {
    display: none;
}

.release h3,
.release form {
    margin: 0 0 12px;
}

.btn .confirmation,
.btn .success {
    display: none;
}

.mycomics-add,
.mycomics-remove {
    opacity: 0.5;
    -moz-transition: opacity 300ms;
    -ms-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
}
.mycomics-add:hover,
.mycomics-remove:hover {
    opacity: 1;
}

#cloud {
    margin-bottom: 20px;
}
#cloud .page-header {
    margin-top: 40px;
    padding-bottom: 5px;
}
#cloud a {
    color: #404040;
}
#cloud .inactive a {
    color: #c0c0c0;
}

#feedback textarea {
    width: 40em;
}

#status td,
#status_legend td {
    text-align: center;
}
#status .scheduled,
#status_legend .scheduled {
    background: #fcc;
}
#status .fetched,
#status_legend .fetched {
    background: #fff7cc;
}
#status .fetched.scheduled,
#status_legend .fetched.scheduled {
    background: #efc;
}
#status_legend {
    width: auto;
}
