{% load compress static %}
{% load url from future %}
<!DOCTYPE html>

<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | {{ site_title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-2.0.2-spacelab.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-responsive-2.0.2.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/comics.css' %}">
    {% endcompress %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="container">

      {% block body %}

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="{% url "home" %}">{{ site_title }}</a>
              {% block site_menu %}
                <ul class="nav">
                {% if user.is_authenticated %}
                  <li class="{{ active.home|yesno:"active," }}" >
                    <a href="{% url "home" %}">
                      <i class="icon-home"></i>
                      Home</a>
                  </li>
                  <li class="{{ active.account|yesno:"active," }}" >
                    <a href="{% url "account" %}">
                      <i class="icon-user"></i>
                      Account</a>
                  </li>
                {% else %}
                  <li class="{{ active.login|yesno:"active," }}" >
                    <a href="{% url "auth_login" %}">
                      <i class="icon-ok-sign"></i>
                      Login</a>
                  </li>
                  <li class="{{ active.register|yesno:"active," }}" >
                    <a href="{% url "registration_register" %}">
                      <i class="icon-plus-sign"></i>
                      Register</a>
                  </li>
                {% endif %}
                  <li class="{{ active.feedback|yesno:"active," }}" >
                    <a href="{% url "feedback" %}">
                      <i class="icon-envelope"></i>
                      Feedback</a>
                  </li>
                  <li class="{{ active.about|yesno:"active," }}" >
                    <a href="{% url "about" %}">
                      <i class="icon-info-sign"></i>
                      About</a>
                  </li>
                </ul>
              {% endblock site_menu %}
              {% block top_menu %}{% endblock top_menu %}
            </div>
          </div>
        </div>

        <div id="bd">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock content %}
        </div>

        <div id="cloud">
          {% block cloud %}{% endblock cloud %}
        </div>

      {% endblock body %}

    </div>

    {% block extra_footer %}
      {{ block.super }}
      {% compress js %}
        <script type="text/javascript" src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-2.0.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/comics.js' %}"></script>
        {% if google_analytics_code %}
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>
        {% endif %}
      {% endcompress %}
    {% endblock extra_footer %}

  </body>
</html>
