{% load compress %}
<!DOCTYPE html>

<html lang="en-us">

  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | {{ site_title }}</title>
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png">
    {% compress css %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-2.0.0.min.css">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive-2.0.0.min.css">
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/comics.css">
    {% endcompress %}
    {% block extra_head %}{% endblock %}
  </head>

  <body>
    <div class="container">

      {% block body %}

        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="{% url top-latest %}">{{ site_title }}</a>
              <div class="nav-collapse">
                {% block site_menu %}
                  <ul class="nav">
                  {% if user.is_authenticated %}
                    <li class="{{ active.home|yesno:"active," }}" >
                      <a href="{% url top-latest %}">
                        <i class="icon-home icon-white"></i>
                        Home</a>
                    </li>
                    <li class="{{ active.account|yesno:"active," }}" >
                      <a href="{% url account_settings %}">
                        <i class="icon-user icon-white"></i>
                        Account</a>
                    </li>
                    <li class="{{ active.sets|yesno:"active," }}" >
                      <a href="{% url set-new %}">
                        <i class="icon-bookmark icon-white"></i>
                        Sets</a>
                    </li>
                  {% else %}
                    <li class="{{ active.login|yesno:"active," }}" >
                      <a href="{% url auth_login %}">
                        <i class="icon-ok-sign icon-white"></i>
                        Login</a>
                    </li>
                    <li class="{{ active.register|yesno:"active," }}" >
                      <a href="{% url registration_register %}">
                        <i class="icon-plus-sign icon-white"></i>
                        Register</a>
                    </li>
                  {% endif %}
                    <li class="{{ active.feedback|yesno:"active," }}" >
                      <a href="{% url feedback %}">
                        <i class="icon-envelope icon-white"></i>
                        Feedback</a>
                    </li>
                    <li class="{{ active.about|yesno:"active," }}" >
                      <a href="{% url about %}">
                        <i class="icon-info-sign icon-white"></i>
                        About</a>
                    </li>
                  </ul>
                {% endblock site_menu %}
              </div>
              {% block top_menu %}{% endblock top_menu %}
            </div>
          </div>
        </div>

        <div id="bd">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <a class="close" data-dismiss="alert">×</a>
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          {% block content %}{% endblock content %}
        </div>

        <div id="cloud">
          {% block cloud %}{% endblock cloud %}
        </div>

      {% endblock body %}

    </div>

    {% block extra_footer %}
      {{ block.super }}
      {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-2.0.0.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/navigation.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/comics.js"></script>
        {% if google_analytics_code %}
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ google_analytics_code }}']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
          </script>
        {% endif %}
      {% endcompress %}
    {% endblock extra_footer %}

  </body>
</html>
