name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  main:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "pytest"
            python: "3.12"
            tox: py312
            coverage: true
          - name: "ruff-format"
            python: "3.12"
            tox: ruff-format
          - name: "ruff-lint"
            python: "3.12"
            tox: ruff-lint
          - name: "mypy"
            python: "3.12"
            tox: mypy
          - name: "docs"
            python: "3.12"
            tox: docs

    name: ${{ matrix.name }}
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python }}
      - run: uv pip install tox tox-uv
      - run: tox -e ${{ matrix.tox }}
        if: ${{ ! matrix.coverage }}
      - run: tox -e ${{ matrix.tox }} -- --cov-report=xml
        if: ${{ matrix.coverage }}
      - uses: codecov/codecov-action@v4
        if: ${{ matrix.coverage }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
